* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body { 
    font-family: 'Lato', sans-serif;
    color: rgb(255, 170, 100);
}

.wrapper {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(29, 6, 155);
    background-image: url("../img/manuel-cosentino-779709-unsplash.jpg");
    /* background-blend-mode: overlay; */
}



header { 
    position: fixed;
    color: rgb(255, 170, 100);
    background-color: #252525; 
    font-family: "Nunito", sans-serif; 
    height: 12vh;
    width: 100vw;
    overflow: hidden;
    padding: 10px;
}

.page-section {
    height: 100vh;
    padding-top: 15vh;
    max-width: 800px;
    margin: 0 auto;
}

h2{
    font-size: 1em;
    text-align: center;
    margin: .2rem;
}

#intro1 {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

#intro2 {
    padding: .5em 4em;
}


.constrain {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    margin-bottom: 1rem;
}

.constrain img{
    max-width: 90vw;
    height: 35vh;
    overflow: hidden;
}

.constrain p {
    background-color: black;
}

#intro2{
    display: none;
}

#full-discover-hidden {
    display: none;
}

#full-map {
    display: none;
}

#full-about {
    display: none;
}

#mapid {
    margin: 0 auto;
    height: 65vh;
    width: 95vw;
}

#search-wrapper{
    padding: 2.2em;
    padding-top: 10em;
}

#map-wrapper{
    max-width: 95vw;
}

#results-wrapper {
    padding-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    overflow: scroll;
}

.result-div {
    margin: 5px;
    border: 1px solid grey;
    background-color: #252525;
    width: 250px;
    height: 150px;
    text-align: center;
}

#about-wrapper {
    padding: 20vh 20px 0;
}

@media (min-width: 768px) {

    #intro2{
        display: block;
    }



}

@media (min-width: 992px) {

    .wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    #full-discover {
        position: relative; 
        padding: 10em;
        height: 100vh;
        background-color: white;
    }

    .constrain{
        max-width: 500px;
    }

    
    



}